.top-intro {
  background: #343434;
  @include screen-sm {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include screen-lg {
      margin: 0 auto;
      max-width: 970px;
    }
    @include screen-md {
      max-width: 750px;
    }
  }


  ul.left-row {
    display: flex;

    li {

      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E4F1FE;
        font-size: 17px;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        transition: background 0.4s;

        &:hover {

          &.icon-twitter {
            background: #42b6f3;
          }

          &.icon-pinterest {
            background: #d92d2d;
          }

          &.icon-facebook {
            background: #304dbf;
          }

          &.icon-instagram {
            background: #50d0b7;
          }

          &.icon-skype {
            background: #27b3ef;
          }
        }
      }
    }
  }


  ul.right-row {
    display: flex;

    li {
      color: #dedede;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;

      + li {
        margin-left: 28px;
      }

      i {
        font-size: 20px;
        margin-right: 8px;
      }

    }
  }

}


.header {
  padding: 20px 0;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: relative;
    @include screen-lg {
      margin: 0 auto;
      max-width: 970px;
    }
    @include screen-md {
      max-width: 750px;
      display: block;
    }


    .logo img {
      max-width: 172px;
    }

    ul.main-menu.tab-menu {
      @include screen-md {
        display: block;
        background: #fff;
        width: 100%;
        > li {
          display: block;
          margin: 30px auto;
          width: 750px;
        }
      }
    }


    ul.main-menu {
      display: flex;
      align-items: center;
      @include screen-md {
        display: none;
      }


      li.is-active a {
        color: #3498db;
      }


      > li {
        position: relative;

        .dropdown{
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: #fff;
          box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.15);
          border-radius: 3px;
          @include screen-md{
            box-shadow: none;
            position: static;
          }
        }
        &:hover {
          > a {
            color: #3498db;
          }

          .dropdown {
            display: flex;
            @include screen-md{
              display: block;
            }
          }
        }

        > a {
          display: block;
          padding: 0 15px;
          font-weight: 500;


          i {
            padding-left: 5px;
          }
        }

      }

      .two-column-dropdown {
        padding: 15px 15px;
        width: 480px;
        @include screen-md{
          width: 100%;
        }

        .submenu {
          width: 50%;

          .menu-title {
            h3 {
              font-weight: 500;
              line-height: 1.8;
              @include screen-md{
                display: none;
              }
            }

            p {
              font-size: 13px;
              color: #7c7c7c;
              @include screen-md{
                display: none;
              }
            }
          }

          ul {
            margin-top: 18px;

            li {

              a {
                line-height: 1.7;
                font-size: 13px;
                color: #7c7c7c;
                @include screen-md{
                  line-height: 1.4;
                }

                &:hover {
                  color: #3498db;
                }
              }

              i {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    .main-menu-btn {
      display: none;
      @include screen-md {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40px;
        height: 40px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 15px;

        span.icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          background: #888;
          margin-bottom: 7px;
        }
      }
    }

  }
}

.column-dropdown {
  width: 200px;
  @include screen-md{
    width: 100%;
  }

  ul {
    width: 100%;

    li {
      border-bottom: 1px solid #ccc;
      padding: 10px 7px;
      @include screen-md{
        padding: 10px 15px;
      }

      a {
        font-size: 13px;
        color: #777;

        &:hover {
          color: #3498db;
        }
      }
    }
  }
}
